<div class="container">
  <h1>Eat-Da-Delicious Burgers</h1>

  <!--the following was taken from https://getbootstrap.com/docs/4.5/components/card/--> 
  {{!-- <div class="row">
    <div class="card">
      <div class="card-body">
        <img src="../public/assets/img/burgers.jpg" alt="burgers photo" />
      </div>
    </div>
  </div> --}}
  
  <div class="row">
    <div class="card-group m-3">
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Burgers Ready to be Eaten</h4>
              <ul>
                {{#each burgers}}
                  {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                  {{/unless}}
                {{/each}}
              </ul>

          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Burgers Devoured!</h4>
              <ul>
                {{#each burgers}}
                  {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                  {{/if}}
                {{/each}}
              </ul>

          </div>
        </div>
      </div>
    </div>


  


    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add a Burger</h4>


  <form class="create-form">

    <div class="form-group">
      <label for="bn">Burger Name:</label>
      <input type="text" id="bn" name="burger_name">
    </div>

    <div class="form-group">
      <label for="devo">Devoured?</label><br>
      <input type="radio" name="devoured" value="1" checked> Devoured!<br>
      <input type="radio" name="devoured" value="0"> Ready to be eaten
    </div>

    <button type="submit" class="btn btn-light">Add Burger</button>
  </form>

        </div>
      </div>
    </div>

  </div>

