li {
  padding: 5px;
  margin: 5px;
  background: #a1c763;
}

img {
  max-width:100%;
  height:auto;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.btn-light {
  background-color: #91b1c7 !important;
}

